@media (max-width: 1000px) {
    header {
        flex-direction: column;
        .headerImgContainer {
            width: 100%;
        }
        .headerContentContainer {
            width: 100%;

        }
    }
    .play {
        .playContainer {
            max-width: 90%;
        }
    }
    footer {
        h4 {
            margin-bottom: 50px;
        }
        .footerFlexContainer {
            flex-direction: column;
            align-items: center;

            .footerNav {
                width: 80%;
            }

        }
    }
}

@media (max-width: 760px) {
    .categories {
        .categoryGallery {
            .item {
                width: 90%;
                margin: 10px 0;
                padding: 20px;
            }
        }
    }
}
@media (max-width: 500px) {
    .navBar {
        .wrapper {
            flex-direction: column;
        }
        .logo {
            margin: 7px 0 12px;
        }
    }
    .play {
        padding: 0;
    }
    footer {
        .footerFlexContainer {
            .footerNav {
               flex-direction: column; 
               align-items: center;
               justify-content: space-between;

               ul {
                margin-top: 30px;

                li {
                    text-align: center;
                }
               }
               
            }
        }
    }
}